docs
src
test
.husky
.eslintrc
.eslintrc.json
.eslintignore
.editorconfig
node_modules
.git
.git/
.gitattributes
.github/
.gitmodules
.settings/
.vscode/
package-lock.json
yarn.lock
.DS_Store
.yarn
.yarnrc
.yarnrc.yml
.prettierrc.json
.prettierignore
.jest.config.js
logo.svg
tsconfig.json
tmp

*.ts
!*.d.ts
